[submodule "d2l-pytorch"]
	path = d2l-pytorch
	url = https://github.com/dsgiitr/d2l-pytorch
[submodule "A-Collection-of-important-tasks-in-pytorch"]
	path = A-Collection-of-important-tasks-in-pytorch
	url = https://github.com/Spandan-Madan/A-Collection-of-important-tasks-in-pytorch
[submodule "deeplearning-models"]
	path = deeplearning-models
	url = https://github.com/rasbt/deeplearning-models
[submodule "practical-pytorch"]
	path = practical-pytorch
	url = https://github.com/spro/practical-pytorch
